@model Projeto_ArqueoList.Models.Validacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Validacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_validacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_validacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidacaoArtigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidacaoArtigo.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminValidacao)
        </dt>
@*         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminValidacao.Password)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_Validacao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
