@model Projeto_ArqueoList.Models.Artigo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artigo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conteudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conteudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.validado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.validado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_validacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_validacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilArtigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilArtigo.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
